{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 Chrome versions"]
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-proposal-decorators", {"decoratorsBeforeExport": false}]
  ]
}
